<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="~/Content/style.css" />
    <title>@ViewBag.Title -FutboleAR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" id="sideNav">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
                    <img src="~/Content/img/logo.png" alt="logo">
                    <h1>FutboleAR</h1>
                    <hr class="divisor" />
                    <a href=""><h2>Inicio</h2></a>
                    <hr class="divisor" />
                    <a href=""><h2>Mis partidos</h2></a>
                    <hr class="divisor" />
                    <a href="newMatch/newMatch.html"><h2>Crear partido</h2></a>
                    <hr class="divisor" />
                </nav>
            </div>
        </div>
    </div>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
