@model FutboleAR.Models.MatchModels

@{
    ViewBag.Title = "Create";
}

@section Styles {
    <link href="@Url.Content("~/Content/styleNM.css")" rel="stylesheet" type="text/css" />
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="wrap">
        <div class="avatar">
            <img src="~/Content/img/logo.png" width="60" height="60" alt="logo">
        </div>
        Fecha y hora:
        <br />
        <div class="col-md-8">
            @Html.EditorFor(model => model.FechaHora, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaHora, "", new { @class = "text-danger" })
        </div>
        Cancha:
        @Html.DropDownList("CanchaNombre", new SelectList(ViewBag.data, "ID", "CanchaNombre"), new { @class = "form-control" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="button" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
