@model FutboleAR.Models.MatchModels

@{
    ViewBag.Title = "Detalles";
}

<h2 class="text-uppercase center-block">Detalles</h2>

<div class="col-xs-12 col-sm-6 col-md-3 contenedor">
    <h4>Detalles del partido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID) @Html.DisplayFor(model => model.ID)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Usuarios) @Html.DisplayFor(model => model.Usuarios)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.FechaHora) @Html.DisplayFor(model => model.FechaHora)
        </dt> 
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
</p>
<p>
    <button type="submit" id="Index" value="Index" onclick="history.go(-1);">Volver</button>
</p>